.radio-group{
    display: inline;
}

.table-block{
    margin-top: 50px;
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.span{
    margin-top: 20px;
    margin-bottom: 20px;
}

.add_partner_form{
    margin-top: 50px;
}

.tst_block{
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}

.title_add{
    margin:0 auto;
}

.inline-block-center {
    text-align: center;
}
.inline-block-center div {
    display: inline-block;
    text-align: left;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.textPartner :hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.textPartner{
    transition: 0.5s;
}

.name_block{
    margin-top: 20px;
}

.contacts_block{
    margin-top: 20px;
}


@media (min-width: 701px) {
    .partners_form{
        display: block;
        padding: 20px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .partners_form input{
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px;
        width: 15%;
        height: 35px;
        border: 1px solid black;
        border-radius: 30px;
        transition: 1s;

    }
}

@media (min-width: 300px) and (max-width: 700px) {
    .partners_form{
        display: block;
        padding: 20px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .partners_form input{
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px;
        width: 25%;
        height: 35px;
        border: 1px solid black;
        border-radius: 30px;
        transition: 1s;
    }

}

.partners_form input:hover{
    transform: scale(1.1);
    transition: 1s;
}
