.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,25%);
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    justify-content: center;
    transform: scale(0);
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    transform: scale(1);
    overflow: auto;
}

.modal__content {
    padding: 20px;
    position: center;
    border-radius: 12px;
    background-color: white;
    width: 400px;
    transform: scale(0.5);
    transition: 0.4s all;
}
.modal__content.active {
    transform: scale(1);
}

.title{
    margin-left: 50px;
    margin-top: 50px;
}

.button-add{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    background-position: center center;
    background-size: cover;
    border: 1px;
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.button-add:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

p{
    margin: 20px;
}

.table{
    margin-top: 50px;
    height: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

thead{
    border-width: 1px;
}

tbody{
    border-width: 1px;
}

.input{
    margin: 8px;
}


.price_rules{
  display: block;
  padding: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.price_rules input{
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  width: 60%;
  height: 35px;
  border: 1px solid black;
  border-radius: 30px;
  transition: 1s;
  text-align: center;
}

.price_rules input:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

.price_rules input:focus{
    transition: 0.5s;
    transform: scale(1.1);
}

.btn_rules{
    margin-top: 28px;
    margin-bottom: 40px;
    width: 160px;
    height: 35px;
    border-radius: 30px;
    background: #1a83ff;
    offset: 70%;
    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 #1a83ff;
    cursor: pointer;
    transition: 0.5s;
}

.btn_rules:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

/*label{*/
/*    padding-right: 10px;*/
/*}*/
.field {clear:both; text-align:right;}

.test_head{
    margin-top: 25px;
    margin-left: 25%;
}
